<form action="/" method="post">
	<div style="text-align: center;">
		<p>Welcome to Tic Tac Toe on the web!<p>
				<p><%= Dir.pwd %></p>
				<p><%= File.dirname(__FILE__) %></p>
	  <p><input type="text" name="post[setup_option]" size="20"/></p>
	  <input type="submit" value="Go">
	</div>
</form>
